*{
    margin: 0;
    padding: 0;
    border: 0;
}:root{
    --mapWidth: 1920px;
    --halfBlack: rgba(0, 0, 0, 0.5);
    --halfWhite: rgba(225, 225, 225, 0.5);
    --noColor: rgba(0, 0, 0, 0);
}html{
    cursor: default;
    background-color: black;
}body{
    width: 100vw;
    height: calc((var(--mapWidth) - 100vw) * 9 / 16 + 100vh);
    overflow: hidden scroll;
}body>*{
    position: absolute;
}hr{
    border: 1px solid white;
}.disappear{
    visibility: hidden;
}::-webkit-scrollbar{
    display: none;
}
/*游戏提示*/
#gameTip{
    position: fixed !important;
    width: 20vw;
    translate: 0px 0px 0px;
    border: .5vw solid #ccc;
    background-color: black;
    z-index: 10;
}
/*游戏提醒*/
#gamePrompt{
    position: fixed !important;
    width: 100%;
    height: 100%;
    background-color: var(--halfBlack);
    z-index: 10;
}#gamePrompt *{
    color: #faa;
    position: absolute;
}#gamePrompt>div{
    width: 50vw;
    height: 28vw;
    translate: 25vw 12.5vw 0px;
    background-color: #333;
}#gamePrompt>div>pre{
    width: 47.5vw;
    height: 17.5vw;
    padding: 1.25vw;
    font-size: 2.5vw;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: #242;
}#gamePrompt>div>textarea{
    width: 45vw;
    height: 4vw;
    font-size: 2vw;
    padding: 0 2.5vw 0;
    translate: 0px 20vw 0px;
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: var(--noColor);
}#gamePrompt>div>textarea:focus{
    background-color: black;
    outline: solid #4c4;
}#gamePrompt>div>textarea::placeholder{
    color: #fff;
}#gamePrompt>div>textarea:focus::placeholder{
    color: #aaa;
}#gamePrompt>div>button:nth-last-of-type(1){
    width: 10vw;
    height: 4vw;
    font-size: 2vw;
    padding: 0 2vw 0;
    translate: 40vw 24vw 0px;
    text-align: center;
    align-content: center;
}#gamePrompt>div>button:nth-last-of-type(2){
    width: 10vw;
    height: 4vw;
    font-size: 2vw;
    padding: 0 2vw 0;
    translate: 30vw 24vw 0px;
    text-align: center;
    align-content: center;
}#gamePrompt>div>button{
    font-weight: bolder;
    background-color: rgba(0,0,0,0);
}#gamePrompt>div>button:hover{
    background-color: var(--halfWhite);
}
/*挡板*/
#gameBorder{
    position: absolute;
    background-color: black;
    margin-top: 56.25vw;
    width: 100vw;
    height: calc(100vh - 56.25vw);
    z-index: 6;
}
/*游戏主体*/
canvas.mapImg{
    position: absolute;
}.mapObject,.mapObject>canvas{
    position: absolute;
    width: 60px;
    height: 60px;
}
/*触控*/
#gameMapBoard{
    position: absolute;
    z-index: 5;
}#gameMapBoard div{
    height: 60px;
    vertical-align: top;
}#gameMapBoard>div>div{
    display: inline-block;
    width: 60px;
}#gameMapBoard>div>div:hover{
    background-color: rgba(225, 225, 225, 0.2);
}#gameMapBoard>div>div:active{
    background-color: rgba(225, 225, 225, 0.8);
    transition-duration: 50ms;
}
/*立绘*/
#playerPhoto{
    margin-left: 80vw;
    width: 20vw;
    height: 56.25vw;
    z-index: 4;
}
/*媒体*/
#messageVideo,#messageImage{
    z-index: 8;
    width: 100vw;
    height: 56.25vw;
}
#messageVideo:not(:active){
    cursor: none;
}
/*消息*/
#gameMessage{
    color: white;
    z-index: 8;
    margin-top: calc(425vw / 12);
    width: 100vw;
    height: calc(125vw / 6);
    border-top: solid calc(1vw / 6) #ccc;
}#gameMessage>div{
    height: calc(125vw / 6);
    display: inline-block;
    vertical-align: top;
}#messageSenderInfo{
    width: calc(50vw / 3);
}#messageSenderName{
    height: calc(25vw / 6);
    font-size: 3vw;
    text-align: center;
    align-content: center;
}canvas#messageSenderStage{
    width: calc(50vw / 3);
    height: calc(50vw / 3);
}#messageContent{
    background-color: var(--halfBlack);
    width: calc(151vw / 3);
    overflow-y: scroll;
}#messageText{
    font-size: 2vw;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: center;
}#messageOption{
    width: 33vw;
}#messageOption>div{
    position: absolute;
    overflow: scroll;
    background-color: rgba(225, 225, 225, 0.1);
    width: 33vw;
    height: calc(125vw / 6);
}#messageOption>div>div{
    height: 4vw;
    font-size: 2.5vw;
    text-align: center;
    align-content: center;
    scale: 1;
}#messageOption>div>div:hover{
    scale: 1.2;
    background-color: rgba(0, 0, 0, 0.6);
}
/*菜单*/
#menu{
    background-image: url(../img/bg.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    color: #fff;
    z-index: 9;
}#menu>div,#menuBoard>div{
    display: inline-block;
    vertical-align: top;
    height: 50vw;
}#option{
    overflow-y: scroll;
    text-align: center;
    font-size: 5vw;
    width: 30vw;
}#option>div{
    height: 7.5vw;
    align-content: center;
    scale: 1;
}#option>div:hover{
    scale: 1 1.25;
    background-color: var(--halfWhite);
}#menuBoard{
    width: 60vw;
    overflow: hidden;
    border: calc(5vw / 12) solid var(--halfWhite);
}#menuBoard>div{
    position: absolute;
    width: 60vw;
}#guide{
    overflow-y: scroll;
}#guide>pre{
    font-size: 2vw;
    font-weight: bold;
    color: #faa;
    background-color: var(--halfBlack);
    text-align: left;
    line-height: 3vw;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}#characterBoard>*{
    display: inline-block;
    vertical-align: middle;
}#characterContent{
    width: 40vw;
    height: 50vw;
    margin: 0 2vw;
    font-size: 2.5vw;
}#characterContent>div{
    overflow: scroll;
}#characterList{
    height: 5vw;
    white-space: nowrap;
}#characterList>div{
    display: inline-block;
    height: 5vw;
    width: 15vw;
    text-align: center;
    align-content: center;
    background: linear-gradient( 135deg, #622, #226);
}#characterInfo{
    height: 25vw;
}#itemBoard{
    height: 20vw;
}#characterPhoto{
    width: 16vw;
    height: 45vw;
}.galleryNode{
    width: 16vw;
    height: 9vw;
    margin: 2vw;
    background-color: var(--halfBlack);
    display: inline-block;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}#myConfig{
    writing-mode: vertical-lr;
    white-space: nowrap;
    overflow: scroll hidden;
}#myConfig>div{
    width: 5vw;
    height: 50vw;
    font-size: 2.5vw;
    margin-left: 2.5vw;
    background-color: var(--halfWhite);
    vertical-align: top;
}#myConfig>div>div{
    vertical-align: top;
    display: inline-block;
}#saveConfig,#resetConfig,.configName,.configText{
    width: 5vw;
    height: 15vw;
    text-align: center;
    line-height: 5vw;
    overflow-wrap: break-word;
    background-color: #555;
}.configText{
    writing-mode: horizontal-tb;
}#saveConfig:hover,#resetConfig:hover{
    background-color: #999;
}.scrollDiv{
    width: 5vw;
    height: 20vw;
    overflow: hidden overlay;
}.scrollDiv::-webkit-scrollbar{
    display: block;
    width: 2.5vw;
    background: linear-gradient( #900, #900 2.5vw, #009 17.5vw, #009);
}.scrollDiv::-webkit-scrollbar-thumb{
    display: block;
    width: 2.5vw;
    height: 2.5vw;
    background: rgba(0, 135, 0, 0.8);
}.scrollDiv::-webkit-scrollbar-thumb:hover{
    background: #090;
}.scrollDiv>div{
    width: 5vw;
    height: calc(20vw + 1000px);
    background: linear-gradient( #900, #900 20vw, #009 1000px, #009);
}
#SL{
    font-size: 2.5vw;
    background-color: var(--halfBlack);
    width: 30vw !important;
    text-align: center;
    overflow: scroll;
}#SL>div{
    height: 5vw;
    align-content: center;
    scale: 1;
}#SL>div:hover{
    scale: 1 1.25;
    background-color: rgba(225, 225, 225, 0.2);
}#SL>div.focus{
    scale: 1 1.25;
    background-color: rgba(150, 225, 150, 0.6);
}#infoSL{
    margin-left: 30vw;
    background-color: black;
    width: 30vw !important;
    font-size: 3vw;
}#infoSL>div{
    width: 10vw;
    height: 5vw;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    align-content: center;
}#infoSL>div:hover{
    background: linear-gradient( #ccc, #333 25%, #333 75%, #ccc);
}#loadSL{
    background-color: #0c0;
}#saveSL{
    background-color: #00c;
}#deleteSL{
    background-color: #c00;
}#infoSL>pre{
    height: 45vw;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow: scroll;
}#characterBoard{
    background-color: rgba(0, 0, 0, 0.2);
}#myGallery{
    background-color: #faa;
}#myConfig{
    background-color: #000;
}