/* UT（undertale）主体 */
#undertaleBody{
    position: absolute;
    font-size: 2.5vw;
    color: white;
    width: 100vw;
    height: 56.25vw;
    z-index: 6;
    line-height: 2.5vw;
}#undertaleBody>div{
    vertical-align: top;
    display: inline-block;
    height: 56.25vw;
}#fighterConditionStage,#fighterBoard{
    width: 21.875vw;
    background-color: var(--halfBlack);
}.nowThisDiv{
    background-color: #c6c;
}
/* 状态栏 */
#fighterConditionStage div{
    height: 2.5vw;
}#fighterThis{
    width: 20vw;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}#fighterThis>div{
    text-align: center;
    align-content: center;
    scroll-snap-align: start;
}#fighterHP>.fighterInfoText{
    background-color: #0c0;
}#fighterMP>.fighterInfoText{
    background-color: #00c;
}#fighterCharge>.fighterInfoText{
    background-color: #ccc;
}.fighterInfoName,.fighterInfoText{
    text-align: center;
    vertical-align: top;
    width: 10vw;
    display: inline-block;
    scale: 1;
}#fighterBuff,#fighterDebuff{
    white-space: nowrap;
    overflow: scroll hidden;
}#fighterBuff>div,#fighterDebuff>div{
    display: inline-block;
    text-align: center;
    width: 10vw;
}#fighterBuff>div{
    background-color: #060;
    border-left: .625vw solid #0c0;
}#fighterDebuff>div{
    background-color: #600;
    border-left: .625vw solid #c00;
}#fighterPhoto{
    width: 20vw;
    height: 41.25vw;
}
/* 战场 */
#UTtheater{
    width: 56.25vw;
}#UTtheater>canvas{
    position: absolute;
    width: 56.25vw;
    height: 56.25vw;
}
/* 操控面板 */
#fighterBoard>div{
    overflow: scroll;
}#fighterPartner{
    height: 3.75vw;
}#fighterPartner>div{
    align-content: center;
    text-align: center;
    height: 3.75vw;
}#fighterSkill{
    width: 61.875vw;
    height: 27.5vw;
    border-left: 1.875vw solid #c00;
    writing-mode: vertical-lr;
    translate: 0 0 0;
}#fighterSkill.wider{
    translate: -40vw 0 0;
}#fighterSkill>div{
    display: inline-block;
    width: 15vw;
    height: 5.5vw;
    writing-mode: horizontal-tb;
}#fighterItem{
    height: 25vw;
}#fighterItem>:nth-child(1){
    height: 4vw;
}#fighterItem>:nth-child(1)>div{
    display: inline-block;
    width: 7vw;
    height: 4vw;
    font-size: 2vw;
    font-weight: bolder;
    align-content: center;
    text-align: center;
    color: #cc0;
}#fighterItem>:nth-child(2){
    height: 21vw;
}#fighterItem>:nth-child(2)>div{
    height: 3vw;
    align-content: center;
}